.site {
  overflow: hidden; }

.siteall .site-left {
  z-index: 99;
  background-color: #20252b; }
  .siteall .site-left a {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    position: relative; }
    .siteall .site-left a::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #48489c;
      -webkit-transition: .4s;
      transition: .4s; }
  .siteall .site-left .site-img {
    padding: 20px;
    border-radius: 5px;
    background-color: #031729;
    margin-top: 40px; }
    .siteall .site-left .site-img p {
      color: #ffffff;
      font-size: 12px;
      margin-top: 20px; }
    .siteall .site-left .site-img hr {
      background-color: #030d16;
      height: 2px; }
    .siteall .site-left .site-img h3 {
      color: #ffffff;
      font-size: 16px;
      font-weight: bold; }
  .siteall .site-left input {
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    border: 2px solid #031729;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #ffffff; }

.siteall .site-right {
  padding: 0; }
  .siteall .site-right hr {
    height: 2px;
    background-color: #ebebeb;
    width: 100%; }
  .siteall .site-right .header {
    background-color: #48489c;
    padding: 5px 0px; }
    .siteall .site-right .header .header-all {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .siteall .site-right .header .header-all i {
        color: #ffffff;
        font-size: 24px;
        cursor: pointer; }
      .siteall .site-right .header .header-all h1 {
        color: #ffffff;
        font-size: 32px;
        font-weight: bold; }
  .siteall .site-right .photo {
    padding-bottom: 3rem; }
    .siteall .site-right .photo .ph-all img {
      -webkit-filter: grayscale(0.4);
      filter: grayscale(0.4); }
  .siteall .site-right .web {
    padding: 3rem 0rem; }
    .siteall .site-right .web .weball {
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .siteall .site-right .web .weball .web-box {
        cursor: pointer;
        background-color: #ebebeb;
        margin-top: 1px;
        padding: 50px;
        -webkit-transition: .4s;
        transition: .4s; }
        .siteall .site-right .web .weball .web-box:hover {
          background-color: #48489c; }
        .siteall .site-right .web .weball .web-box h3 {
          margin: 10px;
          font-size: 16px;
          font-weight: bold; }
        .siteall .site-right .web .weball .web-box p {
          font-size: 12px; }
        .siteall .site-right .web .weball .web-box i {
          color: #48489c;
          font-size: 20px; }
  .siteall .site-right .first {
    padding: 3rem 0rem; }
    .siteall .site-right .first .first-text h3 {
      font-size: 24px;
      margin-top: 20px;
      font-weight: bold; }
    .siteall .site-right .first .first-text p {
      font-size: 16px;
      margin-bottom: 20px; }
    .siteall .site-right .first .first-text a {
      text-decoration: none;
      border: 2px solid #48489c;
      padding: 10px 40px;
      font-size: 14px;
      color: #48489c;
      font-weight: bold;
      z-index: 99;
      -webkit-transition: .4s;
      transition: .4s;
      position: relative; }
      .siteall .site-right .first .first-text a:hover {
        color: #ffffff; }
        .siteall .site-right .first .first-text a:hover::after {
          width: 100%; }
      .siteall .site-right .first .first-text a::after {
        content: '';
        position: absolute;
        z-index: -99;
        -webkit-transition: .4s;
        transition: .4s;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #48489c; }
    .siteall .site-right .first .first-img img {
      -webkit-filter: grayscale(0.5);
      filter: grayscale(0.5); }
  .siteall .site-right .second {
    overflow: hidden;
    padding: 3rem 0rem; }
    .siteall .site-right .second .second-right a {
      text-decoration: none;
      border: 2px solid #48489c;
      padding: 10px 40px;
      font-size: 14px;
      color: #48489c;
      font-weight: bold;
      z-index: 99;
      -webkit-transition: .4s;
      transition: .4s;
      position: relative; }
      .siteall .site-right .second .second-right a::after {
        content: '';
        position: absolute;
        z-index: -99;
        -webkit-transition: .4s;
        transition: .4s;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #48489c; }
      .siteall .site-right .second .second-right a:hover {
        color: #ffffff; }
        .siteall .site-right .second .second-right a:hover::after {
          width: 100%; }
    .siteall .site-right .second .second-right h3 {
      font-size: 24px;
      font-weight: bold; }
    .siteall .site-right .second .second-right p {
      font-size: 16px;
      margin-bottom: 25px; }
    .siteall .site-right .second .second-left img {
      -webkit-filter: grayscale(0.5);
      filter: grayscale(0.5); }

.siteall .site-right .future {
  overflow: hidden;
  padding: 3rem 0rem; }
  .siteall .site-right .future .futureall .future-left a {
    text-decoration: none;
    text-decoration: none;
    border: 2px solid #48489c;
    padding: 10px 40px;
    font-size: 14px;
    color: #6b6bbb;
    font-weight: bold;
    z-index: 99;
    -webkit-transition: .4s;
    transition: .4s;
    position: relative; }
    .siteall .site-right .future .futureall .future-left a::after {
      content: '';
      position: absolute;
      z-index: -99;
      -webkit-transition: .4s;
      transition: .4s;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #48489c; }
    .siteall .site-right .future .futureall .future-left a:hover {
      color: #ffffff; }
      .siteall .site-right .future .futureall .future-left a:hover::after {
        width: 100%; }
  .siteall .site-right .future .futureall .future-left h3 {
    font-size: 24px;
    font-weight: bold; }
  .siteall .site-right .future .futureall .future-left p {
    font-size: 16px;
    margin-bottom: 25px; }
  .siteall .site-right .future .futureall .future.right img {
    -webkit-filter: grayscale(0.5);
    filter: grayscale(0.5);
    margin-top: 20px; }
